@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	line-height: 1.5;
	font-weight: 400;
}
@font-face {
	font-family: "DreamAvenue";
	src: url("./font/Dream_Avenue.ttf") format("ttf"),
		url("./font/Dream_Avenue.otf") format("otf");
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	background-color: #d8e9e3;
	color: #000000;
	min-height: 100vh;
}

.bg-blue-500 {
	background-color: #336699;
}

.btn {
	background-color: #ffd875;
	border: 1px solid #a87900;
	color: #a87900;
}

.logo {
	width: 110px;
}