@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	line-height: 1.5;
	font-weight: 400;
}
@font-face {
	font-family: "DreamAvenue";
	src: url("./font/Dream_Avenue.ttf") format("ttf"),
		url("./font/Dream_Avenue.otf") format("otf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

/* body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
} */