@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: DreamAvenue;
	src: url(./font/Dream_Avenue.otf);
}
:root {
	line-height: 1.5;
	font-weight: 400;
}
@font-face {
	font-family: "DreamAvenue";
	src: url("./font/Dream_Avenue.ttf") format("ttf"),
		url("./font/Dream_Avenue.otf") format("otf");
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	background-color: #d8e9e3;
	color: #000000;
	min-height: 100vh;
}

.bg-blue-500 {
	background-color: #336699;
}

.bg-blue-200 {
	background-color: #a3c2e0;
}

.bg-blue-100 {
    background-color: #D1E0F0;
}

.text-blue-700 {
    color: #1F3D5C;
}

.bg-red-200 {
	background-color: #ebadad;
	
}

.text-red-700 {
    color: #7a1f1f;
}

.bg-green-200 {
	background-color: #b4d4ca;
    
}

.text-green-700 {
    color: #2E5146;
}

.bg-yellow-300 {
	background-color: #ffd875;
}

.btn {
	background-color: #ffd875;
	border: 1px solid #a87900;
	color: #a87900;
}

.logo {
	width: 110px;
}

.dream_avenue_font {
	font-family: "DreamAvenue"
}
